body {
    font-family: 'Open Sans', sans-serif!important;
    min-height: 100vh;
    width: 100%;
}

.no-gutter {
    padding-left: 0!important;
    padding-right: 0!important;
}

.horizontal-position-end {
    justify-content: end;
    padding-right: 0!important;
}

.flex {
    display: flex;
}

.header {
    background-color: black;
    min-height: 10vh;
    opacity: 0.9;
    color: white;
}
    .header-content {
        width: 100%;
    }
    .header p {
        font-size: 24pt;
        margin-bottom: 0;
        line-height: 1!important;
    }
    .header-col {
        padding-top: 5px!important;
        padding-bottom: 5px!important;
    }

.ico {
    color: darkgrey;
    opacity: 0.7;
    pointer-events: none;
    cursor: default;
}

.main {
    min-height: 90vh;
}

.height {
    height: 100%;
}

.logIn {
    font-size: 14pt!important;
    padding-right: 15px;
}
.block {
    height: 50%;
}
    .block-text {
        font-size: 24pt!important;
        text-align: center;
    }

.table-row {}

.toolbar {
    border-bottom: 0!important;
    border-top: 0!important;
}

.select {
    background-color: #96a8af;
}
a {
    font-size: 24pt;
    padding-right: 15px;
}

.scale {
    transform: scale(1.2,1.2);
}

.
